 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
  font-family: Heebo, sans-serif;
  line-height: 1.6;
  color: #21243D;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}



/* Navbar */
/* .navBar {
 width: 100%;
} */


.navHeader {
  padding:20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #333;
}
.logo:hover{
    color: #c9103b;
}

.navLink {
  font-weight: 500;
  font-size: 20px;
  display: flex;
 justify-content: end;
 gap: 20px;
}

.navLink a:hover {
  color: #c9103b;

}

.introSection {
  margin-bottom: 40px;
}

.introItems {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.introSection h1{
    size: 44px;
    font-weight: 700;
}

.introText {
  flex: 1;
  margin-bottom: 20px;

}
.introText h1{
    font-size: 44px;
    margin-bottom: 20px;
}

.introImage {
 
  display: flex;

  width: 243px;
  height: 243px;
}


.introImage img {
  border-radius: 50%;
  width:100%;
  height:100%;
  object-fit: cover;
/* did alignment  */
}

/* Button */
.downloadBtn {
  display: inline-block;
  background: #ff6464;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
}
.downloadBtn:hover {
    color: #050091c7;

}

/* Recent posts */
.recentPosts {
  background-color: #EDF7FA;
  padding: 40px 0;
  margin-bottom: 40px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.recentPosts h2{
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
}

.sectionHeader a {
    font-size: 16px;
    color: #00A8CC;
}

.postsGrid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.postCard {
  background: #fff;
  padding: 20px;
  flex: 1 1 45%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  margin-bottom: 20px;
} 

.postCard h3{
  margin-bottom: 17px;
}
.postCard .postYear{
  margin-bottom: 11px;
}


/* Featured works */
.featuredWorks {
  margin-bottom: 40px;
}

.featuredWorks h3{
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
    margin-bottom: 22px;
}

.workItem {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 30px;
  transition: background 0.3s ease;
}

.workItem:hover {
  background: #73cce5;
}

.featuredWorks img {
  width: 246px;
  height: 180;
  border-radius: 4px;
}

.workContent h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.workMeta {
  margin-bottom: 10px;
  font-size: 14px;
  color: #777;
}

.workYear {
  background: #142850;
  color: #fff;
  padding: 3px 8px;
  border-radius: 16px;
  margin-right: 10px;
}

/* Footer */

footer {
    text-align: center;
}

.footerIcons {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footerIcons a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footerIcons a:hover img {
  transform: scale(1.1);
  opacity: 0.8;
  cursor: pointer;
}



/* Responsive Design */
@media screen and (max-width: 767px) {
  .container {
  max-width: 767px;
}
  /* .navContainer {
    gap: 10px;
  } */

  .navLink {
    gap: 10px;
    font-size: 12px;
    font-weight: 400;
  }


  .introItems {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .introSection {
    display: flex;
    flex-direction: column;
    text-align: center;
  }


  .introText {
    width: 100%;
    margin-bottom: 20px;
  }

  .introText h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 21px;
  }

  .introText p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 27px;
  }



  .introImage {
    width: 174.38px;
    height: 180px;
  }

  

.recentPosts h2{
    font-size: 16px;
    font-weight: 400;
justify-content: center;  }

.recentPosts h3{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
}


  .postsGrid {
    flex-direction: column;
  }

  .postCard {
    flex: 1 1 100%;
  }

  .workItem {
    flex-direction: column;
    align-items: center;
  }


  .featuredWorks img {
    width: 100%;
    width: 339px;
    height: 230px;
  }

  .featuredWorks h3 {
    font-size: 18px;
    font-weight: 400;
  }


  .workContent {
    align-content: flex-start;
    padding: 10px 0;
  }

  .footerIcons {
    gap: 20px;
    flex-wrap: wrap;
  }
}




@media (max-width: 991px) {


.container{
  max-width: 991px;
  margin: 0 auto;
}

.introItems {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }


  .introSection {
    flex-direction: column-reverse; 
    align-items: center;
  }

  .introText {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .sectionHeader{
    justify-content: center;
  }

.recentPosts .sectionHeader h2{
    font-size: 16px;
    font-weight: 400;
}


.featuredWorks h3 {
    text-align: center;
  }


.sectionHeader a{
     display: none;
  }



} 
